input#Application_Name1
{
    width: 420px;
    height: 1.5em;
    text-align: left;
}
/*
div#ApplicationName_ID
{
    width: 140px;
    margin: 0px;
    padding: 2px;
    border-width: 0.5px;
    border-style: solid;
    border-color: Gray;
}
*/
